<!-- $Id: start.htm 17216 2014-05-12 06:03:12Z pangbin $ -->
{include file="pageheader.htm"}
<!-- start personal message -->
{if $admin_msg}
<div class="list-div" style="border: 1px solid #CC0000">
  <table cellspacing='1' cellpadding='3'>
    <tr>
      <th>{$lang.pm_title}</th>
      <th>{$lang.pm_username}</th>
      <th>{$lang.pm_time}</th>
    </tr>
    {foreach from=$admin_msg item=msg}
      <tr align="center">
        <td align="left"><a href="message.php?act=view&id={$msg.message_id}">{$msg.title|truncate:60:"..."}</a></td>
        <td>{$msg.user_name}</td>
        <td>{$msg.send_date}</td>
      </tr>
    {/foreach}
  </table>
  </div>
<br />
{/if}
<!-- end personal message -->

<div class="tab-div">
  <!-- tab bar -->
  <div id="tabbar-div">
    <p>
      <span class="tab-front" id="one1" onclick="setTab('one',1,3)">{$lang.order_stat}</span>
      <span class="tab-back" id="one2" onclick="setTab('one',2,3)">{$lang.goods_stat}</span>
      <span class="tab-back" id="one3" onclick="setTab('one',3,3)">{$lang.acess_stat}</span>
    </p>
  </div>
  <div id="tabbody-div">
    <ul id="con_one_1">
        <li><a href="order.php?act=list&composite_status={$status.await_ship}">{$lang.await_ship}<strong>{$order.await_ship}</strong></a></li>
        <li><a href="order.php?act=list&composite_status={$status.unconfirmed}">{$lang.unconfirmed}<strong>{$order.unconfirmed}</strong></a></li>
        <li><a href="order.php?act=list&composite_status={$status.await_pay}">{$lang.await_pay}<strong>{$order.await_pay}</strong></a></li>
        <li><a href="order.php?act=list&composite_status={$status.finished}">{$lang.finished}<strong>{$order.finished}</strong></a></li>
    <!--    <li><a href="goods_booking.php?act=list_all">{$lang.new_booking}<strong>{$booking_goods}</strong></a></li>
        <li><a href="user_account.php?act=list&process_type=1&is_paid=0">{$lang.new_reimburse}<strong>{$new_repay}</strong></a></li>
        <li><a href="order.php?act=refund_list">退换货申请<strong>{$refund_goods}</strong></a></li>
        <li><a href="order.php?act=list&composite_status={$status.shipped_part}">{$lang.shipped_part}<strong>{$order.shipped_part}</strong></a></li>-->
    </ul>
    <ul id="con_one_2" style="display:none;">
      <li>{$lang.goods_count}<strong>{$goods.total}</strong></li>
      <li><a href="goods.php?act=list&stock_warning=1">{$lang.warn_goods}<strong>{$goods.warn}</strong></a></li>
      <!--<li><a href="goods.php?act=list&amp;intro_type=is_new">{$lang.new_goods}<strong>{$goods.new}</strong></a></li>
      <li><a href="goods.php?act=list&amp;intro_type=is_best">{$lang.recommed_goods}<strong>{$goods.best}</strong></a></li>
      <li><a href="goods.php?act=list&amp;intro_type=is_hot">{$lang.hot_goods}<strong>{$goods.hot}</strong></a></li>
      <li><a href="goods.php?act=list&amp;intro_type=is_promote">{$lang.sales_count}<strong>{$goods.promote}</strong></a></li>-->
    </ul>

    <ul id="con_one_3" style="display:none;">
      <li>{$lang.acess_today}<strong>{$today_visit}</strong></li>
      <li>{$lang.online_users}<strong>{$online_users}</strong></li>
<!--      <li><a href="user_msg.php?act=list_all">{$lang.new_feedback}<strong>{$feedback_number}</strong></a></li>
      <li><a href="comment_manage.php?act=list">{$lang.new_comments}<strong>{$comment_number}</strong></a></li>
-->    </ul>
  </div>
</div>
{insert_scripts files="tabs.js"}
{literal}
{insert_scripts files="../js/utils.js"}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
  /* 检查订单 */
  startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
